@charset "UTF-8";
@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body, html, #wrap { height: 100%; font-family: 'Open Sans', sans-serif;}
h1, h2, h3, h4, h5, h6 { font-family: 'Oswald', sans-serif;}
.row { max-width: 1200px; margin: 0 auto; padding: 0 10px;}

/* header구역 */
.header-outer { background: rgba(255, 255, 255, 1);
    width: 100%; position: fixed; z-index: 9999;}
#header { height: 80px; position: relative;}
#header h1{
    font-family: 'Lobster', cursive;
    font-size: 40px; padding-top: 10px;}
#header .open-gnb { display: none;}
#header .nav { position: absolute; 
    top: 50%; right: 0; transform: translateY(-50%);}
#header .nav .depth1 > li { display: inline-block;}
#header .nav .depth1 > li > a {
    font-size: 18px; padding: 0 40px;
    position: relative;
    transition: all 0.5s ease-in-out;}
#header .nav .depth1 > li > a:hover,
#header .nav .depth1 > li > a:focus { font-weight: bold;}
#header .nav .depth1 > li > a:before {
    content: '';
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 0%; height: 20px;
    transition: all 0.5s ease-in-out;}
#header .nav .depth1 > li > a:hover:before,
#header .nav .depth1 > li > a:focus:before {
    width: 100%;
    background: rgba(0,188,212, 0.1)}

/* outlayer구역 */
.outlayer { display: none;
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;}
.outlayer.on { display: block;}

/* section구역 */
.section-outer { height: 100%;}
.section-outer .section { height: 100%;}
.section-outer .section h2 {
    font-size: 3.75vw;
    text-align: center;
    padding: 30px 0;
}
/* slide: section1 */
.section-outer .section:nth-child(1) .slide-outer { height: 100%;}
.section-outer .section:nth-child(1) .slide-inner { height: 100%;}
.section-outer .section:nth-child(1) .slide { height: 100%;
    background-size: cover; background-repeat: no-repeat;
    background-position: center;
    position: relative;}
.section-outer .section:nth-child(1) .slide1 {
    background-image: url(../images/slide1.jpg);}
.section-outer .section:nth-child(1) .slide2 {
    background-image: url(../images/slide2.jpg);}
/* 화살표 버튼 */
.slide-outer { position:relative;}
.slide-outer .marrow { 
    font-size:80px; color: rgba(0, 0, 0, 0.5); 
    position:absolute; top:50%;
    transform:translateY(-50%); 
    background:none; }
.slide-outer .prevArrow { left:10%; z-index:9 }    
.slide-outer .nextArrow { right:10% }
/* 도트 버튼 */
/* .slide-outer .slick-dots { 
    position:absolute; bottom:20px; width:100%;
    text-align:center }
.slide-outer .slick-dots li {
    display:inline-block; }    
.slide-outer .slick-dots li button {
    width:15px; height:15px; border-radius:50%;
    background:#fff; text-indent:-99999px;
    overflow:hidden; margin:0 5px;}
.slide-outer .slick-dots li.slick-active button { 
    background: rgba(0, 0, 0, 0.5); width:40px; 
    border-radius:50px;} */
/* 도트버튼을 막대 형태로 애니메이션 */
.slide-outer .slick-dots { 
    position:absolute; bottom:20px; width:100%;
    text-align:center }
.slide-outer .slick-dots li {
    display:inline-block; 
    width: 100px; height: 3px;
    background: #fff;
    margin: 0 5px;
    position: relative;}
.slide-outer .slick-dots li button {
    width:0%; height:3px;
    text-indent:-99999px;
    overflow:hidden;
    position: absolute;
    top: 0; left: 0;}
.slide-outer .slick-dots li.slick-active button { 
    background: #000;
    animation: progressbar 4.5s both;}
@keyframes progressbar {
    0% { width: 0%;}
    100% { width: 100%;}
}
/* 슬라이드 재생멈춤 버튼 */
.slide-outer .plpa { 
    font-size: 15px; color: #fff;
    background: none;
    position: absolute;
    bottom: 18px; left: 50%;
    margin-left: 130px;}
/* 슬라이드 텍스트 */
.slide-outer .slide .text {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%; transform: translateY(-50%);
    opacity: 0; color: #fff;
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}
.slide-outer .slide.slick-active .text{ opacity: 1;}
.slide-outer .slide .text p {
    font-size: 5vw;}
.slide-outer .slide.slick-active .text p {
    animation: fadeInUp 1s both 1s;
}

/* about : section2 */
/* .about h2 { 
    font-size: 3.75vw;
    text-align: center;
    padding: 30px 0;} */
.about .profile > div { 
    float: left; width: 50%;}
.about .profile .pf-text {
    padding-left: 50px;
}


/* portfolio : section3 */
.section-outer .section:nth-child(3) { background: wheat;}
/* .portfolio h2 {
    font-size: 3.75vw;
    text-align: center;
    padding: 30px 0;
}
 */



.section-outer .section:nth-child(4) { background: violet;}
.section-outer .section:nth-child(5) { background: yellow;}







/* gotop 버튼 */
/* .gotop { display: block;
    position: fixed;
    bottom: 40px; right: 20px;
    z-index: 999;}
.gotop a { font-size: 40px; color: #333;} */