@media only screen and (max-width: 900px) {
    #header .nav .depth1 > li a {
        font-size: 18px; padding: 0 20px;}
}

@media only screen and (max-width: 700px) {
    #header { height: 80px; position: relative;}
    #header.on { overflow:visible; }
    #header h1{ 
        font-family: 'Lobster', cursive;
        font-size: 40px; padding-top: 10px;
        text-align: center;
    }
    #header .open-gnb { 
        display: block; position: absolute;
        top: 50%; right: 15px;
        transform: translateY(-50%);
        width: 25px; height: 17px;}
    #header .open-gnb span {
        display: block;
        width: 25px; height: 3px;
        background: #000; margin-bottom: 4px;
        border-radius: 10px; transition: all 0.5s;}
    #header.on .open-gnb span:nth-of-type(2) { display: none;}
    #header.on .open-gnb span:nth-of-type(1) {
        transform: rotate(45deg);
        position: absolute; left: 0; top: 8px;}
    #header.on .open-gnb span:nth-of-type(3) {
        transform: rotate(-45deg);
        position: absolute; left: 0; top: 8px;}
    #header .nav { 
        display: none;
        background: #fff;
        position: fixed;
        top: 80px; right: -320px; transform: translateY(0%);
        text-align: center;
        min-width: 320px; height: 100%;
        padding-top: 40px;}
    #header.on .nav { display: block;}
    #header .nav .depth1 > li { display: block;}
    #header .nav .depth1 > li > a {
        font-size: 25px; padding: 40px 20px;
        color: #333; display: block;
        transition: all 0.5s ease-in-out;}
    #header .nav .depth1 > li > a:hover { font-weight: normal;}
}